<div *ngIf="loading">
    Loading...
</div>
<div *ngIf="error">
    Error :(
</div>
<div *ngIf="books">
    <div *ngFor="let rate of books">
        <p>{{ rate.title }} ({{ rate.author }})</p>
    </div>
</div>